body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

#menu {
    height: 130px;
    background: green;
}

.image1 {
    margin-top: 5px;
    margin-left: 120px;
    height: 100px;
    width: 150px;
    padding: 0;
}

h1 {
    display: inline-block;
    color: rgb(245, 239, 239);
    position: relative;
    bottom: 30px;
    font-size: 50px;
}

.float-right {
    float: right;
}

ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    color: #74DFFF;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
}

a:hover {
    color: white;
}

.space {
    width: 30px;
    display: inline-block;
}

.divisor {
    height: 10px;
    background: rgb(233, 233, 235);
}

/*Contenido*/
#contenido {
    height: 240px;
}

h2 {
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 0px;
    color: rgb(11, 11, 11);
    font-size: 20px;
}

.p1 {
    margin-top: 5px;
    margin-left: 60px;
    color: #090909;
    font-size: 15px;
}

.youtube {
    height: 130px;
    width: 170px;
    display: inline-block;
    margin-left: 300px;
    margin-bottom: 10px;
}

.float-right1 {
    float: right;
}

.uno {
    height: 150px;
    width: 150px;
    position: relative;
    right: 280px;
    bottom: 20px;
}

.divisor2 {
    height: 10px;
    background: rgb(233, 233, 235);
}

/*Registro*/
#registro {
    height: 240px;
}

.persona {
    height: 50px;
    margin-top: 5px;
    margin-left: 120px;
    padding: 0;
}

p {
    margin: 0;
    display: inline-block;
    position: relative;
    font-size: 15px;
}

.ubicacion {
    margin-left: 90px;
}

.float-right2 {
    float: right;
}

.form {
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 200px;
    height: 150px;
    width: 150px;
    padding: 0;
}

.divisor3 {
    height: 10px;
    background: rgb(233, 233, 235);
}

/*pie*/
#pie {
    margin: 0px;
    padding: 0px;
    height: 87px;
    background: green;
}

.fin {
    font-size: 7px;
    text-align: center;
    color: white;
}

/* Media Query de 480px */
@media screen and (max-width: 480px) {
    #menu {
        height: 100px;
    }

    .image1 {
        margin-left: 20px;
        height: 80px;
        width: 100px;
    }

    h1 {
        font-size: 40px;
    }
}

/* Media Query de 768px */
@media screen and (max-width: 768px) {
    #menu {
        height: 80px;
    }

    .image1 {
        margin-left: 10px;
        height: 60px;
        width: 80px;
    }

    h1 {
        font-size: 30px;
    }

}

/* Media Query de 1024px */
@media screen and (max-width: 1024px) {
    #menu {
        height: 120px;
    }

    .image1 {
        margin-left: 50px;
        height: 90px;
        width: 120px;
    }

    h1 {
        font-size: 45px;
    }

}